.sendings-control {
    text-align: center;
    padding: 0.5rem;

}

.sendings-control button {
    font: inherit;
    border: none;
    background: transparent;
    color: #000000;
    padding: 0.25rem 3rem;
    border-bottom: 4px solid transparent;
    cursor: pointer;
}

.sendings-control button.active {
    border-bottom: 4px solid rgb(105, 161, 163);
    color: rgb(1, 70, 70);
}

.sendings-control button:focus {
    outline: none;
}