.sendings__list {
    list-style: none;
    margin-left: 12rem;
    padding: 0;
    width: 30rem;
    max-width: 90%;
}

.sendings__item {
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 1px solid rgb(175, 252, 255); 
    display: flex;
    justify-content: space-between;
    align-items: center;
}