/* ----------------------------------------------------
React.js / Repeat Task component

Updated: 04/22/2020
Author: Daria Vodzinskaia
Website: www.dariacode.dev
-------------------------------------------------------  */

#repeat-popper {
    width: 240px;
    background: white;
    padding: 10px;
    border: 2px solid black;
}