.tasks-control {
    text-align: center;
    border: 1px solid #7C73E6;
    padding: 1.5rem;
    margin-left: 12rem;
    width: 30rem;
    max-width: 80%;
}

.addTask-control {
    display: block;
    padding: 1rem 0;
    margin-left: 12rem;
    width: 40rem;
    max-width: 80%;
}

.addTask-button {
    border: none;
    background: white;
    width: 40rem;
    max-width: 80%;
    font-size: inherit;
}

.addTask-button:focus {
    outline:0;
}

#title {
    width: 80%;
    margin-left: 1rem;
}

.custom-select {
    border: 0;
    -webkit-appearance: none;
    font-size: inherit;
    background: white;
}

.form-control-button{
    display: flex;
}