/* ----------------------------------------------------
Stylesheet for React.js 

Updated: 03/13/2020
Author: Daria Vodzinskaia
Website: www.dariacode.dev
-------------------------------------------------------  */

.main-content {
    margin: 4rem 2.5rem;

}