/* ----------------------------------------------------
Stylesheet for React.js / Navigation component

Updated: 03/13/2020
Author: Daria Vodzinskaia
Website: www.dariacode.dev
-------------------------------------------------------  */

.main-navigation {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 3.5rem;
    background-color: #7c73e6;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    z-index: 1;
    justify-content: space-between;
}

.main-navigation__logo h1{
    margin: 0;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}

.main-navigation__items {
    margin-left: 1.5rem;
    padding: 1rem;
}

.main-navigation__items ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.main-navigation__items li {
    margin: 0 1rem;
}

.main-navigation__items a,
.btn_logout {
    text-decoration: none;
    color: white;
}

.btn_logout{
    background-color: #7c73e6;
    color: white;
    border: none;
    font-size: inherit;
}

.main-navigation__items a:hover,
.main-navigation__items a:active,
.main-navigation__items a.active {
    color: #C4C1E0;
    border-bottom: 2px solid #C4C1E0;
}